<?xml version="1.0"?>
<launch>

	<include file = "$(find ur10_moveit_config)/launch/move_group.launch">
	 	<arg name = "arm_namespace" value="/ariac/arm1"/>
	</include>

	<include file = "$(find ur10_moveit_config)/launch/move_group.launch">
	 	<arg name = "arm_namespace" value="/ariac/arm2"/>
	</include>


</launch>
